<mat-drawer-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x">

    <mat-drawer mode="side" opened class="p-6">
        <app-filters (showCategory)="eventFromFiters($event)"></app-filters>
    </mat-drawer>

    <mat-drawer-content class="p-6">
        <app-product-header (columnsCountChange)="eventFromHeader($event)"></app-product-header>
        <mat-grid-list gutterSize="16" [cols]="colums" [rowHeight]="rowHeigh">
            <mat-grid-tile>
                <app-product-box class="w-full" (addToCart)="onAddTocard($event)" [fullWidthMode]="colums===1"></app-product-box>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-drawer-content>

</mat-drawer-container>